<div>
  <h4 class="d-inline-block">Zuweisung: Organisation</h4>
  <i class="bi bi-x-lg float-end" (click)="goBack()"></i>
</div>
<ng-container *ngIf="user.user_id !== undefined">
  <span class="d-block mb-2">Benutzer: {{user.first_name}} {{user.last_name}}</span>
</ng-container>
<form>
  <div class="mb-3">
    <input (input)="search($event)" type="text" class="form-control" id="search" placeholder="Suche..">
  </div>
</form>
<ng-container *ngIf="hasData(organizations) === 0 && hasData({data: userOrganizations}) !== 1 else nodata">
  <div class="overflow-auto h-table">
    <table class="table">
      <thead>
      <tr>
        <th class="text-nowrap" *ngFor="let key of Object.keys(organizations.data[0]) | slice:1 : 3">{{translation[key]}}</th>
        <th>Mitglied</th>
      </tr>
      </thead>
      <tbody>
        <tr (contextmenu)="updateContext($event)" *ngFor="let org of organizations.data | paginate: {itemsPerPage: PAGE_COUNT, currentPage: shared.page, totalItems: organizations.count}" [attr.data-id]="org.org_id">
          <td>{{org.name}}</td>
          <td>{{org.description}}</td>
          <td>{{isInOrganization(org.org_id) | yesNo}}</td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="text-center mt-2" *ngIf="organizations.count! / PAGE_COUNT > 1">
    <pagination-controls (pageChange)="shared.page = $event; loadData()" routerLink="." [queryParams]="{page: shared.page}"></pagination-controls>
  </div>
</ng-container>

<ng-template #nodata>
  <ng-container *ngIf="hasData(organizations) === 2 else loading">
    <span class="error">Leider wurden keine Daten gefunden!</span>
  </ng-container>
  <ng-template #loading>
    <div class="spinner">
      <div class="spinner-border" role="status"></div>
    </div>
  </ng-template>
</ng-template>

<div id="contextmenu" #context>
  <button id="add" class="btn" (click)="add()">Hinzufügen</button>
  <button id="remove" class="btn" (click)="remove()">Entfernen</button>
</div>
