<h2>Anmeldung</h2>
<form [formGroup]="formGroup" (ngSubmit)="login()">
  <div class="mb-3">
    <label for="email" class="form-label">Email-Adresse</label>
    <input tabindex="0" type="email" class="form-control" id="email" placeholder="name@beispiel.de" formControlName="email" autocomplete="email">
  </div>
  <div class="mb-3">
    <label for="password" class="form-label">Passwort</label>
    <div class="d-flex">
      <input type="password" class="form-control d-inline" id="password" placeholder="***********" formControlName="password" autocomplete="current-password">
      <button tabindex="-1" type="button" class="btn in-input" (click)="togglePassword($event)"><i class="bi bi-eye"></i></button>
    </div>
  </div>
  <button type="submit" [disabled]="!formGroup.valid" class="btn btn-primary">Anmelden</button>
</form>
