<h4 class="d-inline-block">Verwaltung: Benutzer</h4>
<form>
  <div class="mb-3">
    <input (input)="search($event)" type="text" class="form-control" id="search" placeholder="Suche..">
  </div>
</form>
<ng-container *ngIf="hasData(users) === 0 else nodata">
  <div class="overflow-auto h-table">
    <table class="table">
      <thead>
      <tr>
        <th (click)="updateSorting($event)" role="button" class="text-nowrap" *ngFor="let key of Object.keys(users.data[0]) | slice:1" [attr.data-name]="key">
          {{translation[key]}}
          <div class="d-inline-block sort">
            <i [ngClass]="{
            'bi-arrow-down': (key === shared.sorting.sort && shared.sorting.order === 'ASC'),
            'bi-arrow-up': (key === shared.sorting.sort && shared.sorting.order === 'DESC')
            }" class="bi"></i>
          </div>
        </th>
      </tr>
      </thead>
      <tbody>
        <tr (contextmenu)="updateContext($event)" *ngFor="let user of users.data | paginate: {itemsPerPage: PAGE_COUNT, currentPage: shared.page, totalItems: users.count}" [attr.data-id]="user.user_id">
          <td class="text-truncate" *ngFor="let value of Object.values(user) | slice:1: 4">{{value}}</td>
          <td class="text-truncate">{{user.is_admin | yesNo}}</td>
          <td class="text-truncate">{{user.is_suspended | yesNo}}</td>
          <td class="text-truncate" *ngIf="user.last_login">{{user.last_login * 1000 | date: "dd.MM.yyyy - HH:mm"}}</td>
          <td class="text-truncate" *ngIf="!user.last_login">Keine Anmeldung</td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="text-center mt-2" *ngIf="users.count! / PAGE_COUNT > 1">
    <pagination-controls (pageChange)="shared.page = $event; loadData()" routerLink="." [queryParams]="{page: shared.page}" [queryParamsHandling]="'merge'"></pagination-controls>
  </div>
</ng-container>

<ng-template #nodata>
  <ng-container *ngIf="hasData(users) === 2 else loading">
    <span class="error">Leider wurden keine Daten gefunden!</span>
  </ng-container>
  <ng-template #loading>
    <div class="spinner">
      <div class="spinner-border" role="status"></div>
    </div>
  </ng-template>
</ng-template>

<div id="contextmenu" #context>
  <button class="btn" (click)="redirect($event, 'orgs')">Organisationen</button>
  <button class="btn" (click)="edit()">Bearbeiten</button>
  <button class="btn" (click)="delete()">Löschen</button>
</div>

<div #modal class="modal" tabindex="-1" [attr.data-id]="user.user_id">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Verwaltung des Benutzers</h5>
        <button tabindex="-1" type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form [formGroup]="formGroup" (ngSubmit)="save()">
          <div class="mb-3">
            <label for="email" class="form-label">Email-Adresse</label>
            <input tabindex="0" type="email" [ngClass]="{'error': checkFormControl(formGroup.controls.email)}" class="form-control" id="email" placeholder="name@beispiel.de" formControlName="email" autocomplete="email">
            <span class="error" *ngIf="checkFormControl(formGroup.controls.email, 'required')"> wurde nicht ausgefüllt</span>
            <span class="error" *ngIf="checkFormControl(formGroup.controls.email, 'email')"> ist ungültig: hans.muster@beispiel.ch</span>
          </div>
          <div class="mb-2">
            <label for="first_name" class="form-label">Vorname</label>
            <input type="text" [ngClass]="{'error': checkFormControl(formGroup.controls.first_name)}" class="form-control" id="first_name" placeholder="Hans" formControlName="first_name" autocomplete="first_name">
            <span class="error" *ngIf="checkFormControl(formGroup.controls.first_name, 'required')"> wurde nicht ausgefüllt</span>
            <span class="error" *ngIf="checkFormControl(formGroup.controls.first_name, 'minlength')"> muss mindestens {{formGroup.controls.first_name.getError('minlength')['requiredLength']}} Zeichen lang sein</span>
            <span class="error" *ngIf="checkFormControl(formGroup.controls.first_name, 'maxlength')"> darf maximal {{formGroup.controls.first_name.getError('maxlength')['requiredLength']}} Zeichen lang sein</span>
          </div>
          <div class="mb-2">
            <label for="last_name" class="form-label">Nachname</label>
            <input type="text" [ngClass]="{'error': checkFormControl(formGroup.controls.last_name)}" class="form-control" id="last_name" placeholder="Muster" formControlName="last_name" autocomplete="last_name">
            <span class="error" *ngIf="checkFormControl(formGroup.controls.last_name, 'required')"> wurde nicht ausgefüllt</span>
            <span class="error" *ngIf="checkFormControl(formGroup.controls.last_name, 'minlength')"> muss mindestens {{formGroup.controls.last_name.getError('minlength')['requiredLength']}} Zeichen lang sein</span>
            <span class="error" *ngIf="checkFormControl(formGroup.controls.last_name, 'maxlength')"> darf maximal {{formGroup.controls.last_name.getError('maxlength')['requiredLength']}} Zeichen lang sein</span>
          </div>
          <div class="mb-2">
            <label for="is_admin" class="form-label">Administrator</label>
            <input type="checkbox" class="form-check" id="is_admin" formControlName="is_admin">
          </div>
          <div class="mb-2">
            <label for="is_suspended" class="form-label">Ausgeschlossen</label>
            <input type="checkbox" class="form-check" id="is_suspended" formControlName="is_suspended">
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Abbrechen</button>
            <button type="submit" [disabled]="!formGroup.valid" class="btn btn-primary">Speichern</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<router-outlet></router-outlet>
