<h2>Registrierung</h2>
<form [formGroup]="formGroup" (ngSubmit)="register()">
  <div class="mb-2">
    <label for="email" class="form-label">Email-Adresse</label>
    <input tabindex="0" type="email" [ngClass]="{'error': checkFormControl(formGroup.controls.email)}" class="form-control" id="email" placeholder="name@beispiel.de" formControlName="email" autocomplete="email">
    <span class="error" *ngIf="checkFormControl(formGroup.controls.email, 'required')"> wurde nicht ausgefüllt</span>
    <span class="error" *ngIf="checkFormControl(formGroup.controls.email, 'email')"> ist ungültig: hans.muster@beispiel.ch</span>
    <span class="error" *ngIf="checkFormControl(formGroup.controls.email, 'maxlength')"> darf maximal {{formGroup.controls.email.getError('maxlength')['requiredLength']}} Zeichen lang sein</span>
  </div>
  <div class="mb-2">
    <label for="first_name" class="form-label">Vorname</label>
    <input type="text" [ngClass]="{'error': checkFormControl(formGroup.controls.first_name)}" class="form-control" id="first_name" placeholder="Hans" formControlName="first_name" autocomplete="first_name">
    <span class="error" *ngIf="checkFormControl(formGroup.controls.first_name, 'required')"> wurde nicht ausgefüllt</span>
    <span class="error" *ngIf="checkFormControl(formGroup.controls.first_name, 'minlength')"> muss mindestens {{formGroup.controls.first_name.getError('minlength')['requiredLength']}} Zeichen lang sein</span>
    <span class="error" *ngIf="checkFormControl(formGroup.controls.first_name, 'maxlength')"> darf maximal {{formGroup.controls.first_name.getError('maxlength')['requiredLength']}} Zeichen lang sein</span>
  </div>
  <div class="mb-2">
    <label for="last_name" class="form-label">Nachname</label>
    <input type="text" [ngClass]="{'error': checkFormControl(formGroup.controls.last_name)}" class="form-control" id="last_name" placeholder="Muster" formControlName="last_name" autocomplete="last_name">
    <span class="error" *ngIf="checkFormControl(formGroup.controls.last_name, 'required')"> wurde nicht ausgefüllt</span>
    <span class="error" *ngIf="checkFormControl(formGroup.controls.last_name, 'minlength')"> muss mindestens {{formGroup.controls.last_name.getError('minlength')['requiredLength']}} Zeichen lang sein</span>
    <span class="error" *ngIf="checkFormControl(formGroup.controls.last_name, 'maxlength')"> darf maximal {{formGroup.controls.last_name.getError('maxlength')['requiredLength']}} Zeichen lang sein</span>
  </div>
  <div class="mb-2">
    <label for="password" class="form-label">Passwort</label>
    <input type="password" [ngClass]="{'error': checkFormControl(formGroup.controls.password)}" class="form-control" id="password" placeholder="***********" formControlName="password" autocomplete="new-password">
    <span class="error" *ngIf="checkFormControl(formGroup.controls.password, 'required')"> wurde nicht ausgefüllt</span>
    <span class="error" *ngIf="checkFormControl(formGroup.controls.password, 'contains')"> darf den Vor- und Nachnamen nicht enthalten</span>
    <span class="error" *ngIf="checkFormControl(formGroup.controls.password, 'minlength')"> muss mindestens {{formGroup.controls.password.getError('minlength')['requiredLength']}} Zeichen lang sein</span>
    <span class="error" *ngIf="checkFormControl(formGroup.controls.password, 'password')"> entspricht nicht den Kennwortrichtlinien</span>
  </div>
  <div class="mb-2">
    <label for="password_repeat" class="form-label">Passwort wiederholen</label>
    <input type="password" [ngClass]="{'error': checkFormControl(formGroup.controls.password_repeat)}" class="form-control" id="password_repeat" placeholder="***********" formControlName="password_repeat" autocomplete="new-password">
    <span class="error" *ngIf="checkFormControl(formGroup.controls.password_repeat, 'required')"> wurde nicht ausgefüllt</span>
    <span class="error" *ngIf="checkFormControl(formGroup.controls.password_repeat, 'matching')"> passwörter stimmen nicht überein</span>
  </div>
  <button class="btn btn-primary" [disabled]="!formGroup.valid" type="submit">Registrieren</button>
</form>
